.iphone8 {
    margin: auto; 
    background-image: url(img/IPhone.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 777px;
    position: relative;
    z-index: 5;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
  border-radius: 70px;
  background-size: 360px;
}

.grid-container-main {
  margin-top: 110px;
    background: linear-gradient(160deg, rgba(22,30,62,1) 0%, rgba(63,149,182,1) 100%);
    padding: 15px 15px 15px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 10px;
    width: 300px;
    position: relative;
    z-index: 2;
  }
  
  .grid-container-footer {
    padding: 10px 10px 10px 10px;
    background: rgb(60,178,213);
    background: linear-gradient(160deg, rgba(60,178,213,1) 0%, rgba(93,192,217,1) 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    width: 310px;
    grid-template-areas:
      "phone mail safari music";
      position: relative;
      z-index: 3;
  }
  


  .animated:hover { 
    animation-name: hinge;
    animation-duration: 2s;  
  }